.card {
  box-shadow: 0 2px 2px 0 rgb(255 255 255 / 16%),
    0 0 0 1px rgb(255 255 255 / 8%);
  margin: 8px;
  .title {
    color: #ad7d37;
    margin: 8px;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .image {
    width: 120px;
    margin: 8px;
  }

  .loading {
    width: 120px !important;
    height: 200px;
    margin: 8px;
  }
}
