.featured-container {
  .featured-companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: 344px;
    row-gap: 16px;
  }

  .featured {
    width: 160px;
    cursor: pointer;
  }
}

.search {
  margin: 16px;
}

.navigation {
  display: flex;
  justify-content: center;

  .pagination {
    .page-item {
      width: 90px;
      text-align: center;
    }
  }
}
@media (min-width: 768px) {
  .featured-container {
    .featured-companies {
      justify-content: flex-start;
      max-width: inherit;
    }
  }
}
