<div class="header-container" id="header-component">
  <div
    class="back-cta-container icon"
    (click)="onBackClick()"
    style="width: 50px; display: flex"
  >
    <img
      src="/assets/back.png"
      alt="image"
      style="width: 32px"
      *ngIf="isMobile"
    />
  </div>
  <div class="d-flex justify-content-center" style="width: 100%">
    <img src="/assets/logo.png" alt="image" style="width: 60px" />
  </div>
  <div
    class="back-cta-container icon"
    (click)="onBackClick()"
    style="width: 50px; display: flex"
  ></div>
</div>
