<div class="search">
  <div class="d-flex flex-column">
    <div class="p-2">
      <div class="input-group">
        <input
          #textSearchInput
          type="search"
          class="form-control rounded"
          placeholder="Search Character"
          aria-label="Search Character"
          aria-describedby="search-addon"
          [(ngModel)]="searchText"
          [class.input-error]="errorMessage"
        />
      </div>
    </div>
    <div class="p-2 errorMessage">
      <label *ngIf="errorMessage"> Character not found </label>
    </div>
  </div>
</div>
