/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@font-face {
  font-family: "starwars";
  src: local("Oxygen"), url(../src/assets/font/Starjhol.ttf) format("truetype");
}

body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg) !important;
}
