.description {
  flex-direction: row !important;
}

.featured-container {
  .featured-companies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 344px;
    row-gap: 16px;
  }
}

.cardCharacter {
  box-shadow: 0 2px 2px 0 rgb(255 255 255 / 16%),
    0 0 0 1px rgb(255 255 255 / 8%);
  background-color: white;
  max-width: 512px;
  margin: auto;

  .description-profile {
    margin-left: 12px;
    .title {
      align-self: center;
    }
    .result {
      align-self: center;
      text-transform: capitalize;
    }
  }
}

.name {
  color: #ad7d37;
  margin: auto;
  p {
    margin-left: 10px;
    font-size: 42px;
    margin-bottom: 2px;
  }
}
@media (min-width: 768px) {
  .featured-container {
    .featured-companies {
      justify-content: space-between;
      max-width: inherit;
    }
  }
}

@media (max-width: 767px) {
  .description {
    flex-direction: column !important;
  }
  .name {
    p {
      text-align: center;
    }
  }
}
