.description {
  flex-direction: row !important;
  .image-profile {
    align-self: center;
    width: 220px;
    .image {
      width: 210px;
    }
  }
}

.cardCharacter {
  box-shadow: 0 2px 2px 0 rgb(255 255 255 / 16%),
    0 0 0 1px rgb(255 255 255 / 8%);
  background-color: white;
  max-width: 512px;
  margin: auto;

  .description-profile {
    margin-left: 12px;
    .title {
      align-self: center;
    }
    .result {
      align-self: center;
      text-transform: capitalize;
    }
    .image {
      width: 32px;
    }
  }
}

.name {
  color: #ad7d37;
  margin: auto;
  p {
    margin-left: 10px;
    font-size: 42px;
    margin-bottom: 2px;
  }
}

@media (max-width: 767px) {
  .description {
    flex-direction: column !important;
  }
  .name {
    p {
      text-align: center;
    }
  }
}
